Repository VictorCappelletto/Desafio_InBev, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dags, tests, ci-cd, docker, config, dependencies, architecture, security, data-quality, monitoring

chore: clean and professionalize dags/ folder
  dags/azure_data_factory_dag.py
  dags/brewery_etl_dag.py
  dags/data_quality/framework.py
  dags/data_quality_check_dag.py
  dags/databricks_processing_dag.py
  dags/examples/__init__.py
  dags/examples/config_usage_example.py
  dags/interfaces/data_transformer.py
  dags/observability/alerts/base.py
  dags/observability/alerts/slack_alerter.py
  dags/observability/metrics.py
  dags/repositories/unit_of_work.py
  dags/system_health_monitor_dag.py
  dags/use_cases/quality.py
  dags/utils/logger.py
Labels: dags, architecture, data-quality, monitoring

chore: clean and simplify tests/ folder - keep only unit tests
  tests/README.md
  tests/integration.disabled/README.md
  tests/integration.disabled/__init__.py
  tests/integration.disabled/test_domain_layer.py
  tests/integration.disabled/test_full_pipeline.py
  tests/integration.disabled/test_repositories.py
  tests/integration.disabled/test_use_cases.py
Labels: tests

chore: remove emojis from pyproject.toml taskipy tasks
  pyproject.toml
Labels: dependencies

style: apply black formatting to unit_of_work.py
  dags/repositories/unit_of_work.py
Labels: dags, architecture

fix: correct YAML indentation in mkdocs.yml to resolve parsing errors
  mkdocs.yml
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

'documentation':
  - changed-files:
    - any-glob-to-any-file: ['docs/**', '*.md', 'mkdocs.yml']

'dags':
  - changed-files:
    - any-glob-to-any-file: ['dags/**/*.py']

'tests':
  - changed-files:
    - any-glob-to-any-file: ['tests/**']

'ci-cd':
  - changed-files:
    - any-glob-to-any-file: ['.github/**']

'docker':
  - changed-files:
    - any-glob-to-any-file: ['Dockerfile', '.dockerignore', 'packages.txt']

'config':
  - changed-files:
    - any-glob-to-any-file: ['dags/config/**', 'airflow_settings.yaml', '.env*', 'env.template']

'dependencies':
  - changed-files:
    - any-glob-to-any-file: ['requirements.txt', 'pyproject.toml', 'poetry.lock']

'architecture':
  - changed-files:
    - any-glob-to-any-file: [
        'dags/interfaces/**',
        'dags/services/**',
        'dags/factories/**',
        'dags/domain/**',
        'dags/use_cases/**',
        'dags/repositories/**'
      ]

'security':
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/security*.yml']

'data-quality':
  - changed-files:
    - any-glob-to-any-file: ['dags/data_quality*.py']

'monitoring':
  - changed-files:
    - any-glob-to-any-file: ['dags/*health*.py', 'dags/*monitor*.py', 'dags/observability/**']
